.block {
    width: 150px;
    height: 150px;
    background: bisque;
    margin: 50px;
}


/*                  my cod              */

/*  Дз 1    */

.dabl_clik_wrapper{
    width: 500px;
    min-height: 200px;
    margin: 20px auto;
    background-color: darkslategray;
    color:  #ffff;
    font-size: 2.5em;
    cursor: pointer;
}
.dabl_clik_wrapper p{
    text-align: center;
    padding-top: 15px;
}


/*      дз2     */


.delite_right_button_wrapper{
    width: 500px;
    min-height: 200px;
    margin: 20px auto;
    background-color: darkslategray;
    color:  #ffff;
    font-size: 2.5em;
    cursor: pointer;
}

.delite_right_button_wrapper p{
    text-align: center;
    padding-top: 15px;
}

/*      дз3     */

.file_wrapper{
    width: 500px;
    min-height: 300px;
    margin: 20px auto;
    background-color: darkslategray;


}

.file_wrapper p{
    margin: 10px auto;
    width: 200px;
    min-height: 230px;
    background-image: url(images/clouse.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*      дз4     */

.color_wrapper{
    display: flex;
    justify-content: space-between;
    width: 500px;
    min-height: 300px;
    margin: 20px auto;
    background-color: darkslategray;


}
.color1 ,.color2 ,.color3, .color4 {
    margin-top: 25%;
    width: 100px;
    height: 100px;
    border: 2px solid red;
}